{% extends 'teacher/base.html' %}
{% load static %}

{% block content %}

<!-- Bootstrap core CSS -->
<link href="{% static 'mainpage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static 'mainpage/css/small-business.css' %}" rel="stylesheet">
<link href="{% static 'mainpage/css/speech-bubble.css' %}" rel="stylesheet">
<link href="{% static 'mainpage/css/basic.css' %}" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{% static 'teacher/css/main.css' %}">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
      integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<style type="text/css">
    #login-menu ul {
        background-color: #343a40 !important;
        display: none; /* 평상시에는 서브메뉴가 안보이게 하기 */
        height: auto;
        padding: 0px;
        margin: 0px;
        border: 0px;
        position: absolute;
        width: 100px;
        z-index: 200;
    }

    #login-menu:hover ul {
        display: block; /* 마우스 커서 올리면 서브메뉴 보이게 하기 */
    }

    #login-menu:hover ul li {
        text-align: center;
    }

    .cooperation-center {
        display: block;
        margin: 0px auto;
    }

    .btn-center {
        float: none;
        margin: 50px auto;
    }

    .response-table {
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<!-- Page Content -->
<div class="container">

    <!-- Heading Row -->
    <div class="row justify-content-center my-5">
        <div class="col-lg-2">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'mainpage/image/logo.png' %}" width="120"
                 height="120" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-5">
            <!--            <h1 class="font-weight-light">응답분석</h1><br>-->
            <p class="font-weight-bolder triangle-border left">
                1열 '단어 입력'에 단어를 입력하면 해당 단어가 색깔로<br>
                보여집니다. 같은 의미의 단어는 콤마(,)로 구분하여<br>
                입력하면 같은 색으로 묶어집니다. 아래에는 해당 단어가<br>
                몇 번 나타나는지 숫자로 보여집니다.</p>
            <!--        <a class="btn btn-primary" href="#">Call to Action!</a>-->
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
    <table border="1" bordercolor="gray" width="1200" height="150" align="center">
        <tr align="center" bgcolor="#2E4A62" style="font-weight: bold; color: white;">
            <td>학생 응답</td>
            <td style="color: red;">태양, 빛</td>
            <td style="color: skyblue;">이산화탄소, CO2</td>
            <td style="color: green;">물, H2O</td>
            <td><input type="text" name="user_input" placeholder="단어 입력"
                       style="background-color: #2E4A62; color: white; text-align: center;"></td>
        </tr>
        <tr>
            <td>식물이 <span style="color: red; font-weight: bold;">태양빛</span>으로 녹말을 생성한다.</td>
            <td style="text-align: center;">1</td>
            <td style="text-align: center;">0</td>
            <td style="text-align: center;">0</td>
            <td style="text-align: center;">-</td>
        </tr>
        <tr>
            <td>광합성 과정을 통해 <span style="color: skyblue; font-weight: bold;">이산화탄소</span>를 활용하여 포도당을 생성한다. 이때 <span
                    style="color: green; font-weight: bold;">물</span>이 필요하다.
            </td>
            <td style="text-align: center;">0</td>
            <td style="text-align: center;">1</td>
            <td style="text-align: center;">1</td>
            <td style="text-align: center;">-</td>
        </tr>
        <tr>
            <td><span style="color: skyblue; font-weight: bold;">CO2</span>, <span
                    style="color: green; font-weight: bold;">물</span>, <span
                    style="color: red; font-weight: bold;">태양</span> 에너지를 이용한다.
            </td>
            <td style="text-align: center;">1</td>
            <td style="text-align: center;">1</td>
            <td style="text-align: center;">1</td>
            <td style="text-align: center;">-</td>
        </tr>
    </table>

    <div class="col-lg-0 btn-center">
        <form action="{% url 'response_analysis' %}">
            <button type="submit" class="w3-button w3-large w3-round w3-blue">이전</button>
        </form>
    </div>
</div>
<!-- /.container -->

<!-- Bootstrap core JavaScript -->
<script src="{% static 'mainpage/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'mainpage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

{% endblock %}