{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WA3i</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'mainpage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'mainpage/css/small-business.css' %}" rel="stylesheet">
    <link href="{% static 'mainpage/css/speech-bubble.css' %}" rel="stylesheet">
    <link href="{% static 'mainpage/css/basic.css' %}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'teacher/css/main.css' %}">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <link href="{% static 'teacher/css/teacher.css' %}" rel="stylesheet">

    <script>
        $(document).ready(function () {
            $('#add-btn').click(function () {
                $('#questionTable').append(
                    '<tr><td><textarea style="width: 100%; padding: 20px;" type="text" name="hint" placeholder="채점 준거를 작성해 주세요."></textarea></td></tr>'
                );
            });
        });
        $(document).ready(function () {
            $('#del-btn').click(function () {
                var my_tbody = document.getElementById('questionTable');
                var trCnt = $('#questionTable tr').length;
                if (trCnt >= 3) {
                    if (my_tbody.rows.length < 1) return;
                    my_tbody.deleteRow(my_tbody.rows.length - 1);
                } else {
                    alert("더 이상 삭제할 수 없습니다.");
                    return false;
                }
            });
        });
        $(document).ready(function () {
            $('#make-btn').click(function () {
                var as_name = $('#as_name').val();
                var as_concept = $('#as_concept').val();
                var as_discription = $('#as_discription').val();
                var result = confirm("문항제목 : " + as_name + "\n학습개념 : " + as_concept + "\n문항내용 :\n" + as_discription + "\n\n입력한 정보로 생성하겠습니까?");
                if (result) {
                    alert('문항 생성이 완료되었습니다.');
                    location.href = "/teacher/make_question/";
                }
            });
        });
    </script>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'teacher' %}">WA3I</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto" id="menubar">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'teacher' %}">홈
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'question_selection' %}">문항선택</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_result' %}">결과보기</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'make_question' %}">문항생성</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'bigram_tree' %}">Bigram Tree</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'topic_analysis' %}">주제분석</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'response_analysis' %}">응답분석</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'qr_code' %}">QR코드</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'teacher_notice' %}">게시판</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown" id="login-menu">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="user-name"><i
                            class="fa fa-user fa-fw"></i> User </a>
                    <ul>
                        <li><a class="nav-link" href="#">로그인</a></li>
                        <li><a class="nav-link" href="#">회원가입</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    <form action="{% url 'make_question' %}" method="GET">
        <input type="hidden" name="path" value="{{ request.path }}">
        <!-- Heading Row -->
        <div class="row justify-content-center my-5">
            <div class="col-lg-2">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'mainpage/image/logo.png' %}" width="120"
                     height="120" alt="">
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-5">
                <p class="font-weight-bolder triangle-border left">
                    좋은 문항을 학생들이 학습할 수 있도록 공유해 주세요.<br>
                    문항 그리고 채점 준거별 모범 답안을 작성해 주세요.<br>
                    참고자료로 그림이나 사진 파일을 업로드 할 수 있습니다.</p>
            </div>
            <!-- /.col-md-4 -->

            <div class="col-7 sct-center">
                <span>문항 제목 : <input id="as_name" type="text" name="question_name" placeholder="문항 제목을 입력해 주세요."></span><br>
                <span>문항 내용 : <textarea id="as_discription"
                                        type="text" name="discription"
                                        placeholder="문항 내용을 작성해 주세요."></textarea></span><br>
                <strong>그림 또는 사진 파일은 아래의 버튼을 클릭하여 업로드해 주세요.</strong><input type="file"
                                                                           name="image">
            </div>
            <div class="col-11">
                <table border="1" bordercolor="gray" width="1000" align="center" id="hint-answer-table">
                    <tr name="trQuestion" align="center" bgcolor="#2E4A62">
                        <th height="40px">도움 생각</th>
                        <th height="40px">모범 답안</th>
                    </tr>
                    <tr>
                        <td><textarea type="text" name="hint"
                                      placeholder="도움 생각을 작성해 주세요."></textarea></td>
                        <td><textarea type="text" name="answer"
                                      placeholder="모범 답안을 작성해 주세요."></textarea></td>
                    </tr>
                </table>
                <table id="questionTable" border="1" bordercolor="gray" width="1000" align="center">
                    <tr name="trQuestion" align="center" bgcolor="#2E4A62">
                        <th height="40px">채점 준거</th>
                    </tr>
                    <tr>
                        <td><textarea type="text" name="mark_text"
                                      placeholder="채점 준거를 작성해 주세요."></textarea></td>
                    </tr>
                </table>
            </div>
            <div class="col-12 add-del-btn">
                <button type="button" id="add-btn" class="btn3">추가</button>
                <button type="button" id="del-btn" class="btn3">삭제</button>
            </div>
            <!-- /.row -->
            <div class="col-lg-2 btn-center">
                <button id="make-btn" type="submit" class="w3-button w3-large w3-round w3-blue">문항
                    생성 완료
                </button>
            </div>
        </div>
    </form>
</div>
<!-- /.container -->

<img class="img-fluid rounded mb-4 mb-lg-0 cooper-img" src="{% static 'teacher/images/cooperation.png' %}">

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'mainpage/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'mainpage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
